{% extends "base.html" %}

{% block context_nav %}
<div class="context-nav">
    <a href="{{ url_for('tracker_dashboard') }}" class="{{ 'active' if request.path == '/tracker/' }}">Dashboard</a>
    <a href="{{ url_for('tracker_activity_log') }}" class="{{ 'active' if request.path.startswith('/tracker/activity-log') }}">Activity Log</a>
    <a href="{{ url_for('tracker_unit_prices') }}" class="{{ 'active' if request.path.startswith('/tracker/unit-prices') }}">Unit Prices</a>
    <a href="{{ url_for('tracker_archive') }}" class="{{ 'active' if request.path.startswith('/tracker/archive') }}">Archive</a>
</div>
{% endblock %}

{% block content %}{% block inner %}{% endblock %}{% endblock %}
